<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    {{>header}}

    <p>symbol: {{symbol}}</p>
    <p>price_open: {{price_open}}</p>
    <p>price: {{price}}</p>
    <p>day_high: {{day_high}}</p>
    <p>day_low: {{day_low}}</p>

    {{>footer}}
</html>